body {
    background-image: url('http://www.4usky.com/data/out/85/164770942-solo-wallpapers.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
  }
  
  .col-sm-8 {
    padding: 1.5rem;
  }
  
  .quiz-navbar {
    background-color: white;
  }
  
  .quiz-col {
    border-radius: .25rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  }
  
  .choice-col {
    background-color: white;
    border-radius: .25rem;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    margin: 0 1rem;
    padding: 1.5rem;
    text-align: center;
  }
  
  .choice {
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .correct {
    background-color: #0f0;
  }
  
  .incorrect {
    background-color: #f00;
  }
  
  #timer {
    /* position: absolute; */
    height: 100px;
    width: 200px;
    /* bottom : 0px; */
    text-align: center;
  }
  
  #counter {
    font-size: 3em;
  }
  
  #btimeGauge {
    width: 150px;
    height: 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 25px;
  }
  
  #timeGauge {
    height: 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top: -10px;
    margin-left: 25px;
  }
  
  #progress {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
  }
  
  .prog {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  ul {
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: .75rem 1rem;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    font-size: 1.125rem;
    margin: .5rem 0
  }
  
  @media screen and (max-width: 575px) {
    .justify-content-between {
      justify-content: center !important;
    }
  
    .h-25 {
      height: 35% !important;
    }
  
    .h-75 {
      height: auto !important;
    }
  
    .choice-col {
      margin-bottom: 1rem;
    }
  
    .question-row {
      margin-bottom: 1rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .h-25 {
      height: 35% !important;
    }
  
    .h-75 {
      height: auto !important;
    }
  
    .choice-col {
      margin-bottom: 1rem;
    }
  
    .question-row {
      margin-bottom: 1rem;
    }
  }